# IDE/Editor-specific files
.idea
.vscode
*.swp
*.swo

# Python-specific files
.ipynb_checkpoints
.mypy_cache
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
test.db
log.txt
Pipfile.lock
env3.*
env
docs_build
site_build
venv
docs.zip
archive.zip
demodb.db
notes.txt
*~
.*.sw?
.cache
.DS_Store

# Terraform-specific files
*.tfstate
*.tfstate.*
.terraform/
*.tfvars
*.tfvars.json
*.tflog
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Visual Studio-specific files
.vs

# Node.js-specific files
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
dist/
build/
public/
.vite/

# Environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vite-specific files
.cache/
.vite/

# Log files
*.log

# MacOS-specific files
.DS_Store
